*{
    margin:0px;
    padding:0px;
}
.main{
    margin:0px auto;
    width:1200px;
    border:1px solid #e8e8e8;
}
.total{
    margin:5px;
    width:1188px;
    height: 400px;
    border:1px solid grey;
}
.totalParamSet{
    width:186px;
    height:398px;
    background: steelblue;
    border:1px solid white;
    float: left;
}
.totalProfit{
    width:998px;
    height: 398px;
    border:1px solid white;
    float:left;
    font-size: 8px;
}
.single{
    margin:5px;
    width:1188px;
    height: 400px;
    border:1px solid grey;
}
.singleParamSet{
    width:186px;
    height: 398px;
    background: steelblue;
    border:1px solid white;
    float: left;
}
.singleProfit{
    width:998px;
    height:398px;
    border:1px solid white;
    float: left;
    font-size: 8px;
}
.totalParamSet li{
    list-style-type: none;
    font-family: 微软雅黑;
    font-size: 14px;
    padding-left:0.5em;
    line-height: 1.5em;
}
.totalParamSet label,span{
    font-family:微软雅黑;
    font-size: 14px;
    color: white;
}

.totalParamSet table{
    border:1px solid #e8e8e8;
    padding: 5px;
}
.totalParamSet table font{
    font-size: 6px;
}

.axis path,
.axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#singleCandle{
    height:65%;
}
#singleVolume{
    height:35%;
}
/*#candle{*/
    /*padding:30px 70px 30px 70px;*/
/*}*/